{% extends 'base.html' %}
{% block page_title %}
  {{ document_version.title }}
{% endblock %}

{% block main %}
  <h1>{{ document_version.title }}</h1>
  <div>{{ document_version.text|markdown }}</div>
  {% if user.is_authenticated() %}
    {% if latest_decision %}
      <p>
        {% trans action_text=latest_decision.action_text,
                 date=latest_decision.creation_time|date %}
          You chose "{{ action_text }}" on {{ date }}.
        {% endtrans %}
      </p>
    {% endif %}
    <p>
      {{ _('You will be signing this document with this identity:') }}
      {{ user.email }}
    </p>
    <form action='' method='post'>
      {{ csrf() }}
      {% if not answered_yes %}
        <button type='submit' name='yes'>
          {{ document_version.yes_action_text }}
        </button>
      {% endif %}
      {% if not answered_no %}
        <button type='submit' name='no'>
          {{ document_version.no_action_text }}
        </button>
      {% endif %}
    </form>
  {% else %}
    <p>
      <a id='browserid' href='#'>
        {{ _('Log in to sign this document.') }}
      </a>
    </p>
    <form action='{{ url('browserid_verify') }}' method='post'>
      {{ csrf() }}
      <input type='hidden' name='next'
        value='{{ request.build_absolute_uri() }}'>
      {{ browserid_form.as_p() }}
    </form>
  {% endif %}
{% endblock %}
