{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this file,
 # You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base.html' %}
{% block page_title %}
{{ document_version.title }} ({{ document_version.number }})
{% endblock %}

{% block main %}
<style>
    .document-text { padding: 10px; border: 2px solid #eee; }
</style>
<h1>{{ document_version.title }} ({{ document_version.number }})</h1>
{% if document_version.is_retired %}
<div class="alert">{{ _('Retired') }}</div>
{% endif %}
{% if latest_version %}
<p>
{% trans latest_url=latest_version.get_absolute_url() %}
The latest version is available <a href="{{ latest_url }}">here</a>
{% endtrans %}
</p>
{% endif %}
  <div class="document-text">{{ document_version.text|markdown }}</div>
  {% if user.is_authenticated() %}
    {% if latest_decision %}
      <p>
        {% trans action_text=latest_decision.action_text,
                 date=latest_decision.creation_time|date %}
          You chose "{{ action_text }}" on {{ date }}.
        {% endtrans %}
      </p>
    {% endif %}
    {% if not document_version.is_retired %}
        <p>
        {{ _('You are:') }}
        {{ user.email }}
        </p>
        <form action='' method='post'>
        {{ csrf() }}
        {% if not latest_decision or not latest_decision.is_agreed %}
            <button type='submit' name='yes' class="btn btn-success">
            {{ document_version.yes_action_text }}
            </button>
        {% endif %}
        {% if not latest_decision or latest_decision.is_agreed %}
            <button type='submit' name='no' class="btn btn-danger">
            {{ document_version.no_action_text }}
            </button>
        {% endif %}
        </form>
    {% endif %}
  {% else %}
    <p>
      <a id='browserid' href='#'>
        {{ _('Log in to Sign this Document.') }}
      </a>
    </p>
    <form action='{{ url('browserid_verify') }}' method='post'>
      {{ csrf() }}
      <input type='hidden' name='next'
        value='{{ request.build_absolute_uri() }}'>
      {{ browserid_form.as_p() }}
    </form>
  {% endif %}
  {% if all_decisions %}
    <h2>{{ _('All the Signatures for this Document') }}</h2>
    <table class="table">
      <tr>
          <td>Email</td>
          <td>Response</td>
          <td>Date</td>
      </tr>
      {% for decision in all_decisions %}
        <tr class="{% if decision.is_agreed %}success{% else %}error{% endif %}">
          <td>
            <a href='{{ url('admin:witness_decision_change', decision.id) }}'>
                {{ decision.user.email }}
            </a>
          </td>
          <td>
            <a href='{{ url('admin:witness_decision_change', decision.id) }}'>
                {{ decision.action_text }}
            </a>
          </td>
          <td>
            <a href='{{ url('admin:witness_decision_change', decision.id) }}'>
                {{ decision.last_update_time }}
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  {% if previous_versions %}
    <h2>{{ _('Previous Versions of this Document') }}</h2>
    <ul>
      {% for dv in previous_versions %}
        <li>
        <a href='{{ url('document_detail', 
                        document_slug=dv.document.slug,
                        version_number=dv.document.latest_version.number) }}'>
            {{ dv.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
