{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this file,
 # You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base.html' %}
{% block page_title %}
{{ document_version.title }} ({{ document_version.number }})
{% endblock %}

{% block main %}
<style>
    .errorlist { color: #f00; }
</style>
<h1>{{ document_version.title }} (v.{{ document_version.number }})</h1>
{% if document_version.is_retired %}
<div class="alert">{{ _('Retired') }}</div>
{% endif %}
{% if latest_version %}
<p>
{% trans latest_url=latest_version.get_absolute_url() %}
This is not the most recent version of this document. You can <a href="{{ latest_url }}">go to the most recent version</a>
{% endtrans %}
</p>
{% endif %}
  {{ _("Here's the document:") }}<br/>
  <pre>{{ document_version.text|markdown }}</pre>
  {% if user.is_authenticated() %}
    {% if latest_decision %}
      <p>
        {% trans action_text=latest_decision.action_text,
                 date=latest_decision.creation_time|date %}
          You chose "{{ action_text }}" on {{ date }}.
        {% endtrans %}
      </p>
    {% endif %}
    {% if not document_version.is_retired %}
        <p>
        {{ _('You are:') }} {{ user.email }}.
        </p>
        {% if form %}
        <form method='post'>
            {{ csrf() }}
            {{ form.as_p() }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {% endif %}
    {% endif %}
  {% else %}
    <p>
      <a id='browserid' href='#'>
        {{ _('Log in to Sign this Document.') }}
      </a>
    </p>
    <form action='{{ url('browserid_verify') }}' method='post'>
      {{ csrf() }}
      <input type='hidden' name='next'
        value='{{ request.build_absolute_uri() }}'>
      {{ browserid_form.as_p() }}
    </form>
  {% endif %}
  {% if all_decisions %}
    <h2>{{ _('Signatures') }}</h2>
    <table class="table">
      <tr>
          <td>Email</td>
          <td>Response</td>
          <td>Date</td>
      </tr>
      {% for decision in all_decisions %}
        <tr class="{% if decision.is_agreed %}success{% else %}error{% endif %}">
          <td>
            <a href='{{ url('admin:witness_decision_change', decision.id) }}'>
                {{ decision.user.email }}
            </a>
          </td>
          <td>
            {{ decision.action_text }}
          </td>
          <td>
            {{ decision.last_update_time.strftime("%Y-%m-%dT%H:%M:%S%z") }}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  {% if previous_versions %}
    <h2>{{ _('Previous Versions of this Document') }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Version</th>
            </tr>
        </thead>
        <tbody>
            {% for dv in previous_versions %}
            <tr>
                <td>
                    <a href='{{ url('document_detail',
                                    document_slug=dv.document.slug,
                                    version_number=dv.document.latest_version.number) }}'>
                        {{ dv.title }}
                    </a>
                </td>
                <td>
                    {{ dv.number }}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  {% endif %}
{% endblock %}
