{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this file,
 # You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% extends 'base.html' %}
{% block page_title %}
  {{ _('Home') }}
{% endblock %}
{% block main %}
  <h1>{{ _('Witness') }}</h1>
  <p>
    {{ _('Witness is an application for verifiable signing of documents') }}
  </p>
  {% if not user.is_authenticated() %}
    <p>
      <a id='browserid' href='#'>{{ _('Log in') }}</a>
    </p>
    <form action='{{ url('browserid_verify') }}' method='post'>
      {{ csrf() }}
      {{ browserid_form.as_p() }}
    </form>
  {% endif %}
  {% if my_responses %}
    <h2>{{ _('My Signed Documents') }}</h2>
    <table class="table">
        <tr>
            <th>{{ _('Title') }}</th>
            <th>{{ _('Version') }}</th>
            <th>{{ _('Response') }}</th>
            <th>{{ _('Date Signed') }}</th>
        </tr>
    {% for response in my_responses %}
        {% with %} 
        {% set document = response.document_version.document %}
        {% set document_version = response.document_version%}
        <tr>
            <td>
                <a href='{{ url('document_detail', document_slug=document.slug,
                                version_number=document_version.number) }}'>
                    {{ document_version.title }}
                </a>
            </td>
            <td>
                {{ document_version.number }}
            </td>
            <td>
                {{ response.action_text }}
            </td>
            <td>
                {{ response.creation_time }}
            </td>
        </tr>
        {% endwith %}
    {% endfor %}
    </table>
  {% endif %}
  {% if documents %}
    <h2>{{ _('All Current Documents') }}</h2>
    <table class="table">
      <tr>
          <th>{{ _('Title') }}</th>
          <th>{{ _('Version') }}</th>
      </tr>
      {% for document in documents %}
      <tr>
          <td>
              <a href='{{ url('document_detail', document_slug=document.slug,
                  version_number=document.latest_version.number) }}'>
                  {{ document.latest_version.title }}
              </a>
          </td>
          <td>
              {{ document.latest_version.number }}
          </td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    {% if not user.is_authenticated() %}
      <p>{{ _('There are not any documents here.') }}</p>
    {% endif %}
  {% endif %}
{% endblock %}
