{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this file,
 # You can obtain one at http://mozilla.org/MPL/2.0/. #}
<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{{ _('Something went wrong!') }}</title>
  </head>
  <body>
    <h1>{{ _('Page not found') }}</h1>
    <p>
      {% trans %}
        Sorry, but something went wrong.
      {% endtrans %}
    </p>
  </body>
</html>
