{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this file,
 # You can obtain one at http://mozilla.org/MPL/2.0/. #}
<!DOCTYPE html>
<html LANG='{{ LANG }}' dir='{{ DIR }}'>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <title>{% block page_title %}{% endblock %} - {{ _('Witness') }}</title>

    {% block site_css %}
    {{ css('witness_css') }}
    {% endblock %}
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>
</head>
<body data-mobile-cookie='{{ settings.MOBILE_COOKIE }}'>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ url("home") }}">{{ _('Witness') }}</a>
                <ul class="nav">
                    <li class="">
                    <a href="{{ url("home") }}">Home</a>
                    </li>
                </ul>
                {% if user.is_authenticated() %}
                <div class="pull-right">
                    {{ user.email }}
                    {% if user.is_superuser %}
                    (<a href="{{ url('admin:index')}}">admin</a>)
                    {% endif %}
                    <a href="{{ url('auth_logout') }}">Logout</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container" role='main'>
        {% block main %}{% endblock %}
    </div>

    {% block site_js %}
    <script src='https://browserid.org/include.js'></script>
    {{ js('witness_js') }}
    <script>
        $(function(){
            $(".table").tablesorter();
        });
    </script>
    {% endblock %}
</body>
</html>
